
h1 {
    color: #003566;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font: 700;
}
h4 {
font-size: large;
text-align: center;
font-weight: 400;
color: #003566;
font-style: italic;
font-family: 'Quicksand', sans-serif;
    font: 700;
}

h5 {
    text-align: center;
    color: #003566;
    font-style: italic;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
    font: 700;
}
h2 {
    color: #003566;
    font-family: 'Quicksand', sans-serif;
    font: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #76A973;
}

div {
    font-weight: 400;
    color: black;
}

span {
    font-size: medium;
    font-style: inherit;
    text-align: center;
}

.panel {
    background-color: #f0ead6;
    border-radius: 15px;
    padding: 15px 25px;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.display-6 {
    text-align: left;
    font-weight: 700;
    margin: 10px;
}

.aboutself {
    color: #f0ead6;
    margin: 10px 25px;
}

.icon {
    height: 70px;
    width: 60px;
    padding-bottom: 10px;
}

.bigger {
    height: 50px;
    width: 50px;
}

.contact {
    padding-top: 20px;
    text-align: center;
}

.description {
    justify-content: space-evenly;
}

.first {
    text-align: center;
}

#about {
    margin-bottom: 16px;
}